.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  line-height: 30px;
}
.login-page-h1 {
  text-align: center;
  margin-top: 25px;
}
.login .btn {
  padding: 10px 20px;
}
.register {
  margin-left: 40%;
  margin-top: 25px;
  line-height: 30px;
  font-size: 20px;
}
