{% extends 'base.html' %} 
{% block title %}About{% endblock %} 

{% block content%}
<div class="about">
  <h1 class="centered-text">Kompaniya haqida</h1>
  <div>
    <h3>Kompaniya nomi</h3>
    <p>«UZAUTO MOTORS» aksiyadorlik jamiyati</p>
    <h3>Zavod</h3>
    <p>
      Umumiy maydoni / Ishlab chiqarish maydoni - Asaka : 72ga / 192 ming kv.
      m.; Xorazm: 35 ga / 20 ming kv. m.; Toshkent: 5 ga / 13 ming kv. m.
      Andijon viloyati (Farg‘ona vodiysi), Asaka shahrida joylashgan.
    </p>
    <h3>Filiallari</h3>
    <p>Xorazm viloyati, Pitnak shahri.</p>
  </div>
</div>
{% endblock %}
