{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact">
    <h1 class='centered-text'>Aloqa</h1>
</div>
<div class="contact-header">
    <p class="contact-header-text">Umumiy aloqalar</p>
</div>
<div class="contact-info">
    <h4>MANZIL</h4>
    <p>Manzil: O`zbekiston Respublikasi, 100060, Toshkent shahar, Mirobod tumani, A. Temur ko`chasi,13 uy
        Kompaniyaning ish vaqti: 08:00-17:00 Tushlik: 13:00-14:00</p>
    <h4>UMUMIY ALOQALAR BO'YICHA TELEFON RAQAMLAR</h4>
    <p>Umumiy aloqalar bo'yicha telefon raqamlar:
        +99878-140-55-40; +99874 225-95-55
        Faks: +99871-215-68-71
        E-mail: info@uzautomotors.com
        Ishlash vaqti: Dushanba - Juma, 08:00-17:00</p>
    <h4>ISHONCH TELEFONI</h4>
    <p>Ishonch telefoni: +99878-147 14-14
        Umumiy aloqalar bo'yicha telefon raqamlar: Dushanba - Juma, 08:00-17:00</p>
    <h4>CALL-MARKAZI</h4>
    <p>Call-markazi: +99878-141-77-77
        Call markaz ishlash markazi: Dushanba - Juma: 08:00-17:00 Shanba - Yakshanba: 09:00-13:00</p>
</div>
{% endblock %}